@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

canvas {
	border: 1px solid black;
}

button {
    cursor: pointer;
}

.info {
	border: 1px solid black;
	height: 601px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#points {
    width: 100%;
}

#add {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676d7;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
}

#add:hover {
	background: #1d49aa;
}

.cords {
    margin-top: 32px;
}

.cords button {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #d74646;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
}

.cords button:hover {
    background: #aa1d1d;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    margin-bottom: 20px;
}

.point {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
}